body {
    font-family: "Lato", sans-serif;
}

/* .split {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
} */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.roomno {
    font-size: 300%;
    width: auto;
    text-align: center;
    border: 2px outset #000000;
    background-color: #00b3aa;
}

.timetable {
    font-size: 300%;
    width: auto;
    text-align: center;
    border: 2px outset #000000;
    background-color: #00b3aa;
}

.icon_style {
    text-align: center;
    position: center;
    height: auto;
    width: 400px;
    margin-top: 20px;
    border: 2px outset #000000;
}

.icon_button {
    width: 50px;
    padding-top: 10px;
    margin: 10px;
    background-color: white;
    border: none;
}

.draganddrop {
    padding-left: 300px;
    border: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}