body {
    font-family: "Lato", sans-serif;
}
.roomno {
    font-size: 300%;
    width: 40%;
    text-align: center;
    border: 2px outset #000000;
    background-color: #00b3aa;

    margin-left: 30%;
}

.timetable {
    font-size: 300%;
    width: 40%;
    text-align: center;
    border: 2px outset #000000;
    background-color: #00b3aa;

    margin-left: 30%;
    margin-top: 20px;

    cursor: pointer;
}

.icon_style {
    text-align: center;
    position: center;
    height: auto;
    width: 400px;
    margin-top: 20px;
    border: 2px outset #000000;

    margin-left: 36%;
}

.icon_button {
    width: 50px;
    padding-top: 10px;
    margin: 10px;
    background-color: white;
    border: none;
}

.draganddrop {
    padding-left: 300px;
    border: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.try01 {

    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    height: auto;
    margin-top: 200px;

margin-left: 50px;

}

.try02 {
    position: relative;
    top: 120px;
    padding-top: 10px;
    border-radius: 15px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;

}

.img_container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    margin-left: 150px;  
}
.naya
{
    margin-left: 42%;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.timetable{
    margin-bottom: 10px;
}

/* .tt{
    margin-bottom: 10px;
} */